* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  
}


body {
  font-family: "Sora";
  background-color: #1D1C1C;
  overflow-x: clip;
}

header {
  height: 15vh;
  width: 100vw;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 3px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #1d1c1c5b;
  backdrop-filter: blur(7px);
  z-index: 100;
}

.navbar a {
  color: #F2F2F2;
}

.navbar .logo {
  font-size: 2.8em;
  font-weight: bold;
}


.navbar .nav-links ul {
  display: flex;
  align-items: center;
  background-color: #1d1c1c99;
  
}

.navbar .nav-links ul li {
  margin: 0 25px;
}


/* Bouton */
.btn {
  display: inline-block;
  padding: 18px 20px;
  font-size: 16px;
  color: white;
  border: 3px solid #05bffa;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #05bffa;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}




/* Logo hamburger menu*/
.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 50px;
  right: 30px;
  width: 35px;
}

.port-hash {
  color: #04A6D9;
  background-color: transparent;
}






/* Disparaitre les li à partir de 900px + apparraitre menu hamburger*/
@media screen and (max-width: 900px) {
  .navbar {
    padding: 0;
    backdrop-filter:unset;
  }

  .body{
    align-items:center !important;
  }

  /* marche pas*/
  .intro-pc-text {
    flex-direction: column;
  }

  .present {
    flex-direction: column;
  }

  /**/
  .navbar .logo {
    position: absolute;
    top: 36px;
    left: 50px;
  }

  .navbar .menu-hamburger {
    display: block;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.464);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    /* rend le menu invi*/
    transition: all 0.5s ease;
  }

  .mobile-menu {
    margin-left: 0;
    backdrop-filter: blur(7px);

  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0px 0px 20px 20px #1d1c1c99;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }

  .sections {
    flex-direction: column;
    align-items: center;
  }

  .col{
    width: 100% !important;
  }

  .contact{
   flex-direction: column;
  }

  .texts{
    margin-top:50px;
  }

  .contact-div{
    padding-top: 20px !important;
  }
}

.present {
  display: flex;
  padding-top: 5%;
  padding-left: 5%;
  justify-content: space-between;
  align-items: center;
  padding: 1% 20%
}

.present-text {
  display: flex;
  align-items: center;
  color: #F2F2F2;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#rocket {
  width: 400px;
  height: auto;
}

hr.line {
  border: 2px solid #F2F2F2;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

/* INTRODUCTIOn */

.titre {
  font-size: 2.4em;
  font-weight: bold;
  color: #F2F2F2;
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

.titre-hash {
  color: #04A6D9;
}

.intro {
  display: flex;
  padding-top: 25px;
  justify-content: center;
  text-align: center;

}

.intro-text {
  color: #F2F2F2;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;

}

.intro-pc-text {
  display: flex;
  padding: 7% 10%;
  justify-content: space-around;
  text-align: center;
  align-items: center;


}



.intro-text-2 ,.intro-text-3 {
  color: #F2F2F2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 5% 0%;
  padding-left:50px;
  background: transparent;
}



#computer {
  width: 286px;
  height: fit-content;
}

/* Rectangle arrondi intro*/
.intro-pc-text .texts {
  border-radius: 10px;
  border: 1px solid #666;
  background: #343434;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.img-text {
  background: transparent;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

#picture-intro {
  width: 20px;
  height: fit-content;
  background-color: #04A6D9;
  border: 4px solid #04A6D9;
  border-radius: 10px;



}

/* CARROUSEL */
.carrousel {
  padding: 5% 10%;
}



.swiper-slide {
  text-align: center;
  font-size: 24px;
  background-image: linear-gradient(to bottom, rgba(189, 189, 189, 0.5), rgba(80, 80, 80, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;


}

.swiper-backface-hidden .swiper-slide {
  height: 300px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

/* BOUTON PROJETS*/

.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #05bffa, #004bac);
  color: ghostwhite;
  overflow: hidden;

}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}




.sections {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;

  padding: 64px 0;
}

/* col technologies */
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 40%;
}



.col .techno-para {
  position: relative;
  flex-direction: row;
  display: flex;
  padding: 1%;
}

.col .techno-img{
  display:flex;
  min-width: 74px;
  height: 74px;
  background-color: #04A6D9;
  border-radius: 10px;
  align-items: center;
  padding: 8px;
  
}


.col img {
  width: 50px;
  height: 50px;
  margin: auto;
}

.col .techno-titre {
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 5px;

}

.col .techno-list {

  flex-direction: column;
  padding-left: 32px;
}

.col .p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 100;
}

/* CONTACT */

.contact{
  color: #ffffff;
  display: flex;
  padding: 3% 10%;
  align-items: center;
  justify-content: center;
}
  



.contact-div{
  display:flex;
  flex-direction: column;
  padding : 0% 5%;
  
}

.contact-mail{
  display:flex;
  justify-content: center;

  align-items: center;
  
}

.contact-text-2{
  display: flex;
  align-items: center;
  padding: 2% 0%;

  
}

.contact-img{
  padding: 5% 0%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

#GitHubBW{
  height: 50px;
  width: 50px;
}

#linkedinBW{
  height: 50px;
  width: 50px;
}

/* FOOTER */

footer {
  display: flex;
  background-color: #343434;
  padding: 20px 30px;
  border-radius: 10px 10px 0px 0px;


  font-family: "Sora";
  font-size: 10px;
  color: #F2F2F2;
  margin: 0% 20%;
  justify-content: space-between;


  border-top: 2px solid #666;
  border-right: 2px solid #666;
  border-left: 2px solid #666;

  margin-top: 3%;

}

a{
  color:white;
}

