* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

}


body {
  font-family: "Sora";
  background-color: #18191b;
  overflow-x: clip;
}

header {
  height: 15vh;
  width: 100vw;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 3px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #1d1c1c5b;
  backdrop-filter: blur(7px);
  z-index: 100;
  margin-top: 10px;
  border-radius: 30px;

}

/* Appliquer le soulignement au texte lors du survol */
.nav-links .menu_link:hover {
  color: #05bffa;
  transition: all .2s ease-in-out;
}

.navbar a {
  color: #F2F2F2;
}

.navbar .logo {
  font-size: 2.8em;
  font-weight: bold;
}


.navbar .nav-links ul {
  display: flex;
  align-items: center;

}

.navbar .nav-links ul li {
  margin: 0 25px;
}


/* Bouton */
.btn {
  display: inline-block;
  padding: 18px 20px;
  font-size: 16px;
  color: white;
  background-color: #05bffa;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  border-radius: 10px;
}

.btn:hover {

  background-color: #036c8d;
  transition: all .3s;
}






/* Logo hamburger menu*/
.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 50px;
  right: 30px;
  width: 35px;
}

.port-hash {
  color: #04A6D9;
  background-color: transparent;
}






/* Disparaitre les li à partir de 900px + apparraitre menu hamburger*/
@media screen and (max-width: 900px) {
  .navbar {
    padding: 0;
    backdrop-filter: unset;
  }

  .body {
    align-items: center !important;
  }

  /* marche pas*/
  .intro-pc-text {
    flex-direction: column;
  }

  .present {
    flex-direction: column;
  }

  /**/
  .navbar .logo {
    position: absolute;
    top: 36px;
    left: 50px;
  }

  .navbar .menu-hamburger {
    display: block;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.464);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    /* rend le menu invi*/
    transition: all 0.5s ease;
  }

  .mobile-menu {
    margin-left: 0;
    backdrop-filter: blur(7px);

  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1c1c99;
    box-shadow: inset 0px 0px 20px 20px #1d1c1c99;
    border-radius: 10px;
    padding: 10px;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }

  .sections {
    flex-direction: column;
    align-items: center;
  }


  .col {
    width: 100% !important;
  }

  .contact {
    flex-direction: column;
  }

  .texts {
    margin-top: 50px;
  }

  .contact-div {
    padding-top: 20px !important;
  }

  .card-carousel {

    width: 210px !important;
  }



}

.present {
  display: flex;
  padding-top: 5%;
  padding-left: 5%;
  justify-content: space-between;
  align-items: center;
  padding: 1% 20%
}

.present-text {
  display: flex;
  align-items: center;
  color: #F2F2F2;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#rocket {
  width: 400px;
  height: auto;
}

hr.line {

  border: 2px solid #F2F2F2;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


/* INTRODUCTIOn */

.titre {
  font-size: 2.4em;
  font-weight: bold;
  color: #F2F2F2;
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

.titre-hash {
  color: #04A6D9;
}

.intro {
  display: flex;
  padding-top: 25px;
  justify-content: center;
  text-align: center;

}

.intro-text {
  color: #F2F2F2;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 60%;


}

.intro-pc-text {
  display: flex;
  padding: 7% 10%;
  justify-content: space-around;
  text-align: center;
  align-items: center;


}



.intro-text-2,
.intro-text-3 {
  color: #F2F2F2;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding-left: 20px;
  background: transparent;
  width: 400px;
  margin: 25px;
}



#computer {
  width: 286px;
  height: fit-content;
}

/* Rectangle arrondi intro*/
.intro-pc-text .texts {
  border-radius: 10px;
  border: 1px solid #666;
  background: #212427;
  margin-left: 130px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.img-text {
  background: transparent;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10px;
}

#picture-intro {
  width: 20px;
  height: fit-content;
  background-color: #04A6D9;
  border: 4px solid #04A6D9;
  border-radius: 10px;
  margin-left: 20px;



}

/* BOUTON SWIPPER */

/* Styles pour le bouton à l'intérieur de chaque carte */
.card-carousel-cards .card-carousel--card .card-button {
  display: none;
  /* Masquer le bouton par défaut */
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  cursor: pointer;
}

/* Afficher le bouton lorsqu'une carte est survolée */
.card-carousel-cards .card-carousel--card:hover .card-button {
  display: block;
}

/* Style supplémentaire pour le bouton au survol */
.card-carousel-cards .card-carousel--card:hover .card-button:hover {
  background-color: #0056b3;
}






/* SWIPPER */


.card-carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 40px;
  color: #666a73;
}

.card-carousel {
  display: flex;
  justify-content: center;
  width: 640px;
}

.card-carousel--overflow-container {
  overflow: hidden;
}

.card-carousel--nav__left,
.card-carousel--nav__right {
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 10px;
  box-sizing: border-box;
  border-top: 2px solid #04A6D9;
  border-right: 2px solid #04A6D9;
  cursor: pointer;
  margin: 0 20px;
  transition: transform 150ms linear;
}

.card-carousel--nav__left[disabled],
.card-carousel--nav__right[disabled] {
  opacity: 0.2;
  border-color: black;
}

.card-carousel--nav__left {
  transform: rotate(-135deg);
}

.card-carousel--nav__left:active {
  transform: rotate(-135deg) scale(0.9);
}

.card-carousel--nav__right {
  transform: rotate(45deg);
}

.card-carousel--nav__right:active {
  transform: rotate(45deg) scale(0.9);
}

.card-carousel-cards {
  display: flex;
  transition: transform 150ms ease-out;
  transform: translatex(0px);
  padding: 30px 0px;
}

.card-carousel-cards .card-carousel--card {
  margin: 0 10px;
  cursor: pointer;
  box-shadow: 0 4px 15px 0 rgba(40, 44, 53, 0.06), 0 2px 2px 0 rgba(40, 44, 53, 0.08);
  background-color: #fff;
  border-radius: 4px;
  z-index: 3;
  margin-bottom: 2px;
}

.card-carousel-cards .card-carousel--card:first-child {
  margin-left: 0;
}

.card-carousel-cards .card-carousel--card:last-child {
  margin-right: 0;
}

.card-carousel-cards .card-carousel--card img {
  vertical-align: bottom;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: opacity 150ms linear;
  user-select: none;
}

.card-carousel-cards .card-carousel--card img:hover {
  opacity: 0.5;
}

.card-carousel-cards .card-carousel--card--footer {
  border-top: 0;
  padding: 7px 15px;
}

.card-carousel-cards .card-carousel--card--footer p {
  padding: 3px 0;
  margin: 0;
  margin-bottom: 2px;
  font-size: 19px;
  font-weight: 500;
  color: #2c3e50;
  user-select: none;
}

.card-carousel-cards .card-carousel--card--footer p.tag {
  font-size: 11px;
  font-weight: 300;
  padding: 4px;
  background: rgba(40, 44, 53, 0.06);
  display: inline-block;
  position: relative;
  margin-left: 4px;
  color: #666a73;
}

.card-carousel-cards .card-carousel--card--footer p.tag:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent rgba(40, 44, 53, 0.06) transparent transparent;
  border-style: solid;
  border-width: 8px 12px 12px 0;
}

.card-carousel-cards .card-carousel--card--footer p.tag.secondary {
  margin-left: 0;
  border-left: 1.45px dashed white;
}

.card-carousel-cards .card-carousel--card--footer p.tag.secondary:before {
  display: none !important;
}

.card-carousel-cards .card-carousel--card--footer p.tag:after {
  content: "";
  position: absolute;
  top: 8px;
  left: -3px;
  float: left;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: white;
  box-shadow: 0px 0px 0px #004977;
}

h1 {
  font-size: 3.6em;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0;
  color: #333;
}

/* BOUTON PROJETS*/

.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #05bffa, #004bac);
  color: ghostwhite;
  overflow: hidden;

}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}




.sections {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;

  padding: 64px 0;
}

/* col technologies */
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 40%;
}



.col .techno-para {
  position: relative;
  flex-direction: row;
  display: flex;
  padding: 1%;
}

.col .techno-img {
  display: flex;
  min-width: 74px;
  height: 74px;
  background-color: #04A6D9;
  border-radius: 10px;
  align-items: center;
  padding: 8px;

}


.col img {
  width: 50px;
  height: 50px;
  margin: auto;
}

.col .techno-titre {
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 5px;

}

.col .techno-list {

  flex-direction: column;
  padding-left: 32px;
}

.col .p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 100;
}

/* CONTACT */

.contact {
  color: #ffffff;
  display: flex;
  padding: 3% 10%;
  align-items: center;
  justify-content: center;
}





.contact-div {
  display: flex;
  flex-direction: column;
  padding: 0% 5%;

}

.contact-mail {
  display: flex;
  justify-content: center;

  align-items: center;

}

.contact-mail a:hover {
  transition: all .3s;
  color: #05bffa;
}

.contact-text-2 {
  display: flex;
  align-items: center;
  padding: 2% 0%;


}

.contact-img {
  padding: 5% 0%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

#GitHubBW {
  height: 50px;
  width: 50px;
}

#linkedinBW {
  height: 50px;
  width: 50px;
}

/* FOOTER */

footer {
  display: flex;
  background-color: #212427;
  padding: 20px 30px;
  border-radius: 10px 10px 0px 0px;


  font-family: "Sora";
  font-size: 10px;
  color: #F2F2F2;
  margin: 0% 8%;
  justify-content: space-between;


  border-top: 2px solid #666;
  border-right: 2px solid #666;
  border-left: 2px solid #666;

  margin-top: 3%;

}

.text-footer{
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
}
