<!DOCTYPE html>
<html lang="fr">


<head>

    <meta charset="UTF-8">
    <title>Portfolio | Théo GUÉRIN</title>
    <!-- IMPORT FONT SORA -->
    <link rel="icon" type="image/x-icon" href="img/site/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css" />
    <meta http:equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- CARROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" rel="stylesheet" />
    <style>
        .download-button {
            background-color: #03e5fe; /* Vert */
            border: none;
            color: blanc;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
        }
    </style>


</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar">
        <a href="#HOME" class="logo"><span class="port-hash">#</span>PortFolio</a>
        <div class="nav-links">
            <ul>
                <li><a class="menu_link" onclick="window.location.href = '#HOME'; window.scrollBy(0, -100);">Accueil</a></li>
                <li><a class="menu_link" onclick="window.location.href = '#PROPOS'; window.scrollBy(0, -100);">A propos</a></li>
                <li><a class="menu_link" onclick="window.location.href = '#PROJETS'; window.scrollBy(0, -100);">Projets</a></li>
                <li><a class="menu_link" onclick="window.location.href = '#LemonMaze'; window.scrollBy(0, -100);">LemonMaze</a></li>
                <li>
                    <a class="btn" href="#CONTACT">Me Contacter</a>
                </li>
            </ul>
        </div>
        <img src="img/site/menu-btn.webp" alt="Menu Hamburger" class="menu-hamburger">
    </nav>
    <header></header>

    <!-- PRESENTATION -->
    <div>
        <div class="present" id="HOME">
            <p class="present-text" id="presentation">
                {{ message_presentation }}
            </p>
            <img src="img/site/rocket.webp" alt="rocket" id="rocket">
        </div>
        <hr class="line">
        <!-- INTRO -->
        <div class="titre" id="PROPOS">
            <span class="titre-hash">#</span>Introduction</a>
        </div>
        <div id="app_intro">
            <div class="intro">
                <p class="intro-text">
                    {{ message_intro_1 }}
                </p>
            </div>

            <div class="intro-pc-text">
                <img src="img/icons/pc.webp" alt="Computer" id="computer">
                <div class="texts">
                    <div class="img-text">
                        <img src="img/icons/compass.webp" alt="compass" id="picture-intro">
                        <p class="intro-text-2">
                            {{ message_intro_2 }}
                        </p>
                    </div>
                    <div class="img-text">
                        <img src="img/icons/coop.webp" alt="coop" id="picture-intro">
                        <p class="intro-text-3">
                            {{ message_intro_3 }}


                        </p>
                    </div>
                </div>
            </div>

            <hr class="line">
            <!-- PROJETS -->
            <div class="titre" id="PROJETS">
                <span class="titre-hash">#</span>Projets</a>
            </div>
            <div class="intro" id="app_projet">
                <p class="intro-text">
                    {{ message_projet_1 }}
                </p>
            </div>
        </div>

        <!-- CARROUSSEL-->
        <template id="v-carousel">
            <div class="card-carousel-wrapper">
                <div class="card-carousel--nav__left" @click="moveCarousel(-1)" :disabled="atHeadOfList"></div>
                <div class="card-carousel">
                    <div class="card-carousel--overflow-container">
                        <div class="card-carousel-cards" :style="{ transform: 'translateX(' + currentOffset + 'px)'}">
                            <div class="card-carousel--card" v-for="item in items">
                                <img :src="item.image" />
                                <div class="card-carousel--card--footer">
                                    <p>{{ item.name }}</p>
                                    <p class="tag" v-for="(tag, index) in item.tag"
                                        :class="index > 0 ? 'secondary' : ''">{{ tag }}</p>
                                    <p>
                                        <button class="cssbuttons-io" @click="openCodeLink(item.link)">
                                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                                    <path fill="currentColor"
                                                        d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z">
                                                    </path>
                                                </svg> Code</span>
                                        </button>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-carousel--nav__right" @click="moveCarousel(1)" :disabled="atEndOfList"></div>
            </div>
        </template>
        <div id="app_carousel">
            <carousel></carousel>
        </div>

        <hr class="line">
        <!--LEMONMAZE -->
        <div class="titre" id="LemonMaze">
            <span class="titre-hash">#</span>LemonMaze</a>
        </div>
        <br>
        <p style="display:flex;justify-content: center;padding-top:10px;padding-bottom: 100px;">
        <a href="https://www.mediafire.com/file/z9hyye69eefl91x/LemonMaze.apk/file" class="btn">Télécharger LemonMaze.apk</a>
        </p>
        <br>






        <!-- TECHNOLOGIES -->
        <hr class="line">

        <div class="titre">
            <span class="titre-hash">#</span>Technologies</a>
        </div>
        <div class="intro" id="app_techno">
            <p class="intro-text">
                {{ message_technologie_1}}
            </p>
        </div>



        <div class="sections" id="app_technolist">
            <div class="col">
                <div class="techno-para" v-for="tech in leftColumn">
                    <div class="techno-img">
                        <img class="img" :src="tech.icon" :alt="tech.name" />
                    </div>
                    <div class="techno-list">
                        <div class="techno-titre">{{ tech.name }}</div>
                        <p class="p">{{ tech.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="techno-para" v-for="tech in rightColumn">
                    <div class="techno-img">
                        <img class="img" :src="tech.icon" :alt="tech.name" />
                    </div>
                    <div class="techno-list">
                        <div class="techno-titre">{{ tech.name }}</div>
                        <p class="p">{{ tech.description }}</p>
                    </div>
                </div>
            </div>
        </div>




        <!-- CONTACT -->

        <hr class="line">

        <div class="titre" id="CONTACT">
            <span class="titre-hash">#</span>Contact</a>
        </div>

        <div class="contact" id="app_contact">
            <div class="contact-div">
                <p class="contact-text-1">
                    {{message_contact_1}}
                </p>
                <div class="contact-img">
                    <a href="https://github.com/Theo22100" target="_blank"><img src="img/icons/GitHubW.webp"
                            alt="GitHubBW" id="GitHubBW"></a>
                    <a href="https://www.linkedin.com/in/théo-guérin-b20630192/" target="_blank"><img
                            src="img/icons/linkedinBW.webp" alt="linkedinBW" id="linkedinBW"></a>
                </div>
                <p class="contact-mail">
                    <a href="mailto:Theo.Guerin35000@gmail.com">{{mail}}</a>
                </p>
            </div>
            <div class="contact-div">
                <p class="contact-text-2">
                    {{message_contact_2}}
                </p>
                <p class="contact-text-2">
                    {{message_contact_3}}


                </p>


            </div>
        </div>
    </div>










</body>




<footer>
    <div class="text-footer">
        <p>Fait par <a href="https://github.com/Theo22100" target="_blank">Theo22100</a></p>
        <p>Theo22100 · 2024</p>
    </div>
</footer>



<!-- HAMBURGER -->
<script>
    const menuHamburger = document.querySelector(".menu-hamburger")
    const navLinks = document.querySelector(".nav-links")

    menuHamburger.addEventListener('click', () => {
        navLinks.classList.toggle('mobile-menu')
    })
</script>

<!-- SWIPPER -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>


<script src="js/app.js"> </script>




</html>
